/*	CSS for the S03E06 - Excusrion project	*/

/*	Applies to ALL of the page 				*/
body {
	font-family: Helvetica;
	text-align: center;
	background-color: black;
	margin: 0;
}
.content-block {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

/*	Styling for the <header> section		*/
h1 {
	margin-top:0px;
}
header.splash-panel {
	background-image: url('../images/the-flatiron-building.png');	
	background-repeat: no-repeat;
	background-size: 100% 100%;	
	color: white;
}
header.splash-bar {
	background-image: url('../images/the-flatiron-building.png');	
	background-repeat: no-repeat;
	background-size: 100%;	
	color: white;
}
h1 {
	color: white;
	font-size: 70px;
	font-weight: bold;
	
}
header nav li {
	list-style-type: none;
	padding: 5px 0 5px 0;
}
header nav li a{
	font-size: 18px;
	font-weight: 800;
	color: white;
}
nav {
	margin: auto;
    position: relative;
    left: -25px;}

/*	Styling for the <article>s only			*/
article {
	background-color: white;
	text-align: center;
}

/*	Styling for <h2> - The main header line in the content section		*/
h2 {
	font-size: 32px;
	font-weight: bold;
}
/*	Styling for <h3> - The sub header lines/titles in content & footer	*/
h3 {
	font-size: 23px;
	font-weight: bold;
}
/*	Styling for <h4> - The main header line in the footer section		*/
.footer-leader {
	color: white;
	background-image: url('resources/images/the-flatiron-building.png');
}
article p {
	font-size: 14px;
}

/* 	As we have text-align: center for the <body> element/tag we need to */
/*	override that with a class for the <footer> element. 				*/
footer .footer-bar {
	color: white;
	background-color: dimgray;
	text-align: left;
	font-size: 11px;
}
.navlink {
	color: white;
	font-size: 14px;
	list-style-type: none;
}
